body{
    margin: 0;

    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #f3f8fc;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

 /* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/* Header */
.header {
    width: 100%;
    background: #14396D;
    height: 70px;
    padding: 23px 0;
    color: #fff;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.header__link {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
}
.contact {
    min-width: 450px;
}
.social {
    min-width: 250px;
}
/* Nav */
.menu {
    background: #e6eff2; 
    opacity: 90%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu__inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
.menu__logo {
    width: 195px;
    height: 65px;
}
.nav {
    min-width: 690px;
}
.nav__link {
    font-family: 'Roboto', sans-serif;
    color: #004976;
    text-decoration: none;
    margin-left: 50px;
    cursor: pointer;
}
.nav__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #14396D;
    text-decoration: none;
    margin-left: 50px;
    padding: 15px 35px;
}
.btn-yellow {
    background: #fedb41;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: #000 url("img/intro-bg-hp1.jpeg") center no-repeat;
    background-size: cover;
}
.intro__title {
    font-family: 'Heebo', sans-serif;
    max-width: 600px;
    font-size: 100px;
    color: #fff;
    line-height: 1.1;
    
}
.intro__subtitle {
    font-family: 'Heebo', sans-serif;
    max-width: 600px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}


/* Services */
.services {
    background-color: #F3F8FC;
    padding: 100px 0;
    text-align: center;
}
.services__inner {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    width: 33.33333%;
    text-align: center;
    padding: 60px 50px;
    margin: 25px 10px;
    background: #fff;
    max-width: 370px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}
.services__icon {
    margin-bottom: 25px;
}
.services__title {
    font-family: 'Heebo', sans-serif;
    color: #14396D;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
.services__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #00BAEC;     
    text-decoration: none; 
    border-bottom: 2px dashed #00BAEC; 
}
.services__link:hover {
    color: #FEDB41;
    border-bottom: 2px dashed #FEDB41; 
}
/* Section */
.section__header {
    margin: 0 auto;
    width: 100%;
    max-width: 578px;
    line-height: 1.3;
}
.section__suptitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #00BAEC;
    padding: 10px 0;
}
.section__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #14396D;
    margin-bottom: 30px;
}
.section__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #004976;
    opacity: .7;
    margin-bottom: 40px;
}
/* About Us*/
.block--white {
    background-color: #fff;
    padding: 100px 0;
}
.about {
    display: flex;
    justify-content: center;
}
.about__img {
    width: 40%;
    text-align: center;
    background: #ee5;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}
.about__disc {
    width: 60%; 
    margin-left: 60px;
    margin-top: 15px;
}
.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.score__item {
    width: 120px;
    height: 145px;
    background: #F6FBFF;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 60px;
}
.score__count {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    color: #01F0DB
}
.score__text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
     color: #004976;
    
}
.img__child {
    position: absolute;
    top: 0;
    left: 6.5%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.img__parent {
    position: relative;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.about__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #14396D;
    border-radius: 2px;
    text-decoration: none;
    padding: 15px 35px;
}
.features {
    text-align: center;
    margin-top: 150px;
}
container-half {
    width: 50%;
}
