body{
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #14396D;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

/* Container-----------------*/ 
.header__container{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

.section{
    margin: 150px 0 0 0;
    height: 100%;
}

.section--smaler{
    padding: 0 0;
    margin-bottom: 86px;
}

.section--features{
    height: 800px;
    background-color: #F6FBFF;
    margin: 300px 0 0 0;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.large__container{
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

.container--right{
    position: relative;
    
    width: 100%;
    max-width: 1546px;
    margin: 0 0 0 auto;
}

/*Header-----------------*/

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    
    background-color: #f6fbff;
    display: flex;
}

/*Menu-----------------*/

.menu{
    position: relative;
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #fff;
}

.nav__link{
    text-decoration: none;
    position: relative;
    
    margin: auto 35px;
    color: #004976;
}

.menu__btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 35px;
    
    background-color: #FEDB41;
    color: #14396D;
    
    font-size: 16px;
    text-decoration: none;
    
    width: 155px;
    height: 50px;
    border-radius: 3px;
}

/*Blue Header-----------------*/

.blue__header{
    background-color: #14396D;
    width: 100%;
    height: 400px;
    
    position: relative;
}

.blue__title{
    font-family: 'Heebo', sans-serif; 
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 1;

    padding: 141px;
    text-align: center;
}

.blue__btn{
    position: absolute;
    
    right: 375px;
    bottom: -1px;
    border: none;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px 0 0 0;
    
    padding: 20px 40px;
}

/*Project-----------------*/

.project__menu{
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 80px;
    padding: 0 4%;
}

.project__link{
    text-decoration: none;
    position: relative;
    
    margin: auto 35px;
    color: #0E182B;
    font-weight: 700;
}

.project__link:hover{
    color: #00BAEC;
} 

.project{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    height: 100%;
    max-height: 1305px;
}

.project__row{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 30px;
}

.project__item{
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 100%;
    max-height: 585px;
    
    background-color: #fff;
    border-radius: 30px 0 30px 0;
}

.project__img{
    position: relative;
    z-index: 0;
    border-radius: 30px 0 0 0;
}

.project_inf{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #F6FBFF;
}

.project__name{
    font-family: 'Heebo', sans-serif; 
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
}

.project__work{
    color: #00BAEC;
    font-weight: 500;
}

.project__add{
    border-radius: 30px 0 0 0;
    width: 311px;
    height: 390px;
    background-color: rgba(20,57,109,.6);
    position: absolute;
    top: 30px;
    left: 30px;
    opacity: 0;
    z-index: 5;
    transition: opacity .2s linear;
}

.project__plus{
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 5;
}

.project__item:hover .project__add{
    opacity: 1;
}

/*Footer-----------------*/

.footer__logo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 230px;
    background: #FEDB41;
    background-size: cover;
    border-radius: 15px;
    padding: 0 70px;
    margin-bottom: 80px;
}
.footer__logtitle {
    font-family: 'Heebo', sans-serif;
    max-width: 600px;
    font-size: 30px;
    color: #0E182B;
    font-weight: bold;
    margin: 25px 0;
}
.footer__logtext {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #0E182B;
    margin-bottom: 40px;
    max-width: 380px;
}
.footer__phone {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    color: #14396D;
    background: #fff;
    border-radius: 100px;
    padding: 10px 5px 10px 34px;
}
.footer__icon {
    border-radius: 50px;
    border: 5px solid #00BAEC;
    background: #FEDB41;
    height: 80px;
    width: 80px;
    font-size: 24px;
    padding-top: 20px; 
    margin-left: 60px;
    text-align: center;
    color: #fff;
}

.footer {
    background: #14396D;
}

.footer__container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    padding: 150px 350px;
}

.footer__mail{
    width: 100%;
    max-width: 350px;
    display: flex;

    padding-top: 30px;
}

.footer__input{
    background: #fff;
    border: 0px;
    height: 50px;
    padding: 17px;
    font-size: 18px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.footer__btn{
    height: 50px;
    width: 70px;

    background-color: #00BAEC;
    font-size: 18px;
    border: 0;
    cursor: pointer;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.footer__btn a{
    color: #fff;
}

.footer__logo {
    width: 192px;
    height: 63px;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    margin: 0 -15px;
}

.footer__item {

    padding: 0 15px;
    margin-bottom: 30px;
}

.footer__first {
    width: 30%;
}

.footer__second {
    width: 20%;
}

.footer__third {
    width: 20%;
}

.footer__fourth {
    width: 30%;
}

.footer__text {

    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding-top: 40px;
    line-height: 1.4;

    padding-right: 50px;

    opacity: .8;
}

.footer__bot {
    height: 80px;
    background: #133566;
    color: #A0AEC2;
}
.footer__bot a {
    margin: 0 13px;
    text-decoration: none;
    color: #A0AEC2;
}
.footer__bot span {
    display: inline-block;
    padding: 0 13px;
}
.footer__bot .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.services__title {
    font-family: 'Heebo', sans-serif;

    font-size: 24px;
    font-weight: 700;
    color: #fff;

    margin-bottom: 20px;
}

.services__links {
    color: #fff;

    padding: 10px 0;
}

.link__style {
    font-family: 'Roboto', sans-serif;

    text-decoration: none;

    font-size: 18px;
    font-weight: 400;
    color: #fff;

    opacity: .8;
}

.socials {
    padding-top: 30px;
}

.social__item {
    display: flex;
}

.social__icon a {
    font-size: 30px;

    color: #00BAEC;

    width: 40px;
    height: 40px;
    margin: 0 10px;

    border-radius: 50%;

    background: #fff;

    display: block;

    object-fit: cover;

    padding: 4px 6px;
}

.social__icon a:first-child {
    margin-left: 0;
}





